*{
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
}
@font-face {
  font-family: 'LiuJinSuiYueBiAnYouGuang';
  src: url('https://file.0031400.xyz/i/1733409986360.ttf');
}
*{
  font-family: 'LiuJinSuiYueBiAnYouGuang';
}
input,textarea{
  border: 0;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
}